@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

/* landin page */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 128, 48, 0.52),rgba(62, 49, 119, 0.73)),
    url(https://images.unsplash.com/photo-1501446529957-6226bd447c46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8ODJ8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.nav-links ul li a::after {
    content: "";
    background: red;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;;
}

.fa {
    display: none;
}

.text-box {
    color: #cbd6d2;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
}
.text-box h3{
    font-size: 62px;
    margin-bottom: 1%;
}
.text-box p{
    font-size: 12px;
}
.course {
    text-align: center;
    width: 88%;
    margin: 3% auto;
}

.course .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}

.course-col {
    width: 30%;
    padding: 1%;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    box-shadow: 10px 10px 10px rgb(73, 66, 66);
}

.course-col:hover {
    transform: translateY(-15px);
}

.course-col h3 {
    font-size: 16px;
    text-align: center;
}
.course-col p {
    font-size: 16px;
    text-align: center;
}
.course-col img {
    width: 100%; /*This 100% denotes course-col 30%*/ 
    max-height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}